[Unit]
Description="Execute Zotero backup script which uses git to version control research. Booya!"

[Service]
ExecStart=/home/jcuenod/Zotero/backup.sh
